# Maven
target/
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse / VS Code Java
.classpath
.project
.settings/
.factorypath
bin/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
*.env
